*{
    margin:0;
    padding:0;
    background-color:  #3B4664;
    font-family: Arial, Helvetica, sans-serif
    ;
}
.container{
    padding:24px 38%;
}
table{
    text-align: center;
    padding: 8px;
    background-color: #252D44;
    border-radius: 5px;
}
.btn, .btn1{
   
    width: 40px;
    font-style: oblique;
    color: black;
    border: none;
    border-radius: 5px;
    background-color: beige;
    height:20px;
    font-weight: bolder;


}
.btn1{
    width: 80px;
    background-color: #3B4664;
    border-radius: 5px;

}
.btn2{
     width: 80px;
     background-color: red;
     border-radius: 5px;
}
input{
    width:165px;
    padding: 8px;
    font-weight: bolder;
    color: white;
    background-color: #000000;
    text-align:right;
    border-radius: 5px;

}